.back-to-top-fade-enter-active, .back-to-top-fade-leave-active {
  transition: opacity .7s;
}
.back-to-top-fade-enter, .back-to-top-fade-leave-to{
  opacity: 0;
}

.vue-back-to-top{
  position: fixed;
  bottom: 15px;
  right: 20px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  background-color: #f5c85c;
  border-radius: 3px;
  z-index: 1000;
  cursor:pointer;
}

.vue-back-to-top span{
  color:#ffffff;
}
