// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "index";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font Awesome
@import "~font-awesome/scss/font-awesome";

a.link-nav {
    font-size: 18px;
}

.label-form {
    font-weight: bold;
}

.radio-services {
    margin: 5px auto;
    font-size: 1.1rem;
}

.btn-understand {
    background-color: #1E92E0;
}

.btn-order-again {
    background-color: #1EE075;
}

.btn-login {
    background-color: #F0E559;
    color: #FFF;
}

section.sec_sosmed {
  display: flex;
  flex-flow: row wrap;
}
section.sec_sosmed > div {
  flex: 1;
  padding: 0.5rem;
}
input[type="radio"].paket-sosmed {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
label.label-paket-sosmed {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid hsla(150, 75%, 50%, 1);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  //margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}
input[type="radio"].paket-sosmed:checked + label.label-paket-sosmed {
  background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}
// p {
//   font-weight: 900;
// }


@media only screen and (max-width: 700px) {
  section.sec_sosmed {
    flex-direction: column;
  }
}
